*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
text-align:center;
padding:20px;
}

input{
padding:10px;
width:250px;
}

button{
padding:10px 20px;
cursor:pointer;
}

#movieContainer{
margin-top:30px;
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#222;
padding:15px;
border-radius:10px;
width:250px;
}

.card img{
width:100%;
border-radius:10px;
}
